#cart-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
  }

  @media (max-width: 900px) {
    #cart-page {
      flex-direction: column;
      align-items: center;
    }
  }