.cart__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height:auto;
    margin: 10px;
    background: rgb(248, 235, 159);
    border: 2px solid rgb(76, 45, 4);
    border-radius: 40px;
}

#cart-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
  }

.cart_block_product {
    display: flex;
    width: 100%;
    height: 150px;
    background: rgb(248, 235, 159);
    border-bottom: 2px solid rgb(76, 45, 4);
    border-radius: 0 0 30px 30px;
    overflow: hidden;
}

.cart_block_name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    background: rgb(173, 133, 75);
    border-top: 2px solid rgb(76, 45, 4);
    border-bottom: 2px solid rgb(76, 45, 4);
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    font-size: 2.4rem;
}

@media (max-width: 900px) {
    .cart__page {
        width: 90%;
    }

    #cart-page {
        flex-direction: column;
        align-items: center;
      }

    .cart_block_product {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }
}


