#details-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  
.product__details {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 400px;
  margin-top: 50px;
  background: rgb(164, 100, 3);
  border: 2px solid rgb(76, 45, 4);
  border-radius: 15px;
}