.filter__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin: 10px;
    background: rgb(164, 100, 3);
    border: 2px solid rgb(76, 45, 4);
    border-radius: 15px;
    gap: 15px;
}

.filter__button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
}

.button__filter {
    width: 120px;
}

.category-brand {
    width: 96%;
    /*height: 220px;*/
    background: rgb(248, 235, 159);
    border: 2px solid rgb(76, 45, 4);
    border-radius: 10px;
    /*overflow: hidden;*/
}

.category-brand_name {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background: rgb(173, 133, 75);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(76, 45, 4);
    font-size: 1.8rem;
    /*border-radius: 10px;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category_choice {
    padding: 8px;
    font-size: 1.4rem;
    height: 190px;
    overflow: auto;
}

.filter__item-category-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__wrapper-checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
}

@media (max-width: 900px) {
    .filter__block {
        width: 30%;
    }
}

@media (max-width:640px) {

    .filter__block {
        width: 50%;
    }
}

@media (max-width:480px) {

    .filter__block {
        width: 70%;
    }
}