.card__product {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    margin: 3px;
    background: rgb(248, 235, 159);
    border: 2px solid rgb(76, 45, 4);
    border-radius: 10px;
}

.card__img {
    width: 180px;
    height: 100px;
    margin: 8px;
    border-radius: 7px;
    border: 1px solid rgb(76, 45, 4); 
}

.card__text {
    width: 180px;
    height: 120px;
    margin: 8px;
    font-size: 1.4rem;
}

.card__info {
    display: flex;
}

.info__name {
    width: 50px;
    margin-right: 10px;
}

.card__button {
    display: flex;
    justify-content: space-around;
   
}

button {
    width: 80px;
    height: 30px;
    background: rgb(173, 133, 75);
    border-radius: 5px;
    cursor: pointer;
}

